@model PTZ.PhotoOrder.Models.AlbumViewModel

@{
    var collumnItemSize = (Model.Photos.Length + 1) / 4;
    ViewData["Title"] = Model.AlbumName;
}
@section Style
    {
    <link rel="stylesheet" href="~/css/galery.css" />
}
<div class="row">
    <div class="column">
        @await Html.PartialAsync("_PhotoItem", Model.Photos.Take(collumnItemSize))
    </div>
    <div class="column">
        @await Html.PartialAsync("_PhotoItem", Model.Photos.Skip(collumnItemSize * 1).Take(collumnItemSize))
    </div>
    <div class="column">
        @await Html.PartialAsync("_PhotoItem", Model.Photos.Skip(collumnItemSize * 2).Take(collumnItemSize))
    </div>
    <div class="column">
        @await Html.PartialAsync("_PhotoItem", Model.Photos.Skip(collumnItemSize * 3).Take(collumnItemSize))
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true,
                onShown: function () {
                    updateQtd(this._$element.first().data("photo"));

                    $(".addPhoto").on('click', function (event) {
                        addToBasket($(event.target).data("photo"), $(event.target).data("filepath"));
                    });

                    $(".removePhoto").on('click', function (event) {
                        removeFromBasket($(event.target).data("photo"));
                    });
                },
                onNavigate: function (direction, itemIndex) {
                }
            });
        });

    
    </script>
}
